.blogs-container {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    border: solid 2px #59636e;
    border-radius: 10px;
    .blogs-content{
        padding: 24px;
        text-align: left;
        margin: 0;
        
    }
    .blog-title {
        font-size: 20px;
        font-family: monospace;
        margin: 0;
        padding-bottom: 15px;
    }

    .blog-desc {
        font-size: 16px;
        text-align: justify;
        margin: 0;
    }
    .read-button {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top: 24px;
      
        button {
            display: flex;
            align-items: center;
            gap: 5px; // Adds spacing between text and icon
            background-color: transparent;
            color: #2c2c4a;
            font-size: 16px;
            font-weight: 500;
            border: 2px solid #2c2c4a; // Outline color
            padding: 8px 15px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          svg {
            font-size: 20px;
          }
      
          &:hover {
            background-color: #41416e;
            color: #f4f4f4;
            svg {
               color: rgb(255, 200, 0);
              }
          }
      
        
        }
      }
}


@media (max-width: 480px) { 
  .blogs-container {
    .blog-title {
        font-size: 18px;
    }
    .blog-desc {
        font-size: 14px;
    }
    .read-button {
        button {
            padding: 8px 10px;
        }
      }
}

 }
