
/* define variables for the font-size */
$h1: 40px;
$h2: 32px;
$h3: 24px;
$h4: 20px;
$h5: 16px;
$h6: 14px;

.header-container {
    margin: 0;
    padding-bottom: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .left-content {
        display: flex;
        align-items: center;
    }

    p {
        font-size: $h6;
        font-weight: bold;
        color: #3D405B;
    }

    .avatar {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }
}

.box-container {
    display: flex;
    align-items: center;
}
  
.box-container span {
    display: inline-block;
    width: 25px;
    height: 15px;
}

.box1 { background-color: #F4F1DE; }
.box2 { background-color: #E07A5F; }
.box3 { background-color: #3D405B; }
.box4 { background-color: #81B29A; }
.box5 { background-color: #F2CC8F; }
