@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

.navbar-container {
    margin-left: 50px;
    width: 100%;
}

.hello-container {
    width: 100%;
    height: 90px;
    text-align: left;
    font-size: 55px;
    font-family: 'Borel', cursive;
    line-height: 2.5;
}

.h { color: #8A2D2D; }
.e { color:  #E07A5F; } 
.l { color: #3D405B } 
.o { color: #81B29A } 
.exclamation { color: #E07A5F }

.navbar {
    ul {
      list-style: none;
      display: flex;
      gap: 25px;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: black;
      cursor: pointer;
      position: relative;
      font-family: monospace;
  
      &.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 100%;
        height: 2px;
        background-color: var(--underline-color);
      }
    }
  
    .box {
      width: 28px;
      height: 17px;
      margin-right: 5px;
      display: inline-block;
    }
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #59636e;
    margin-top: 25px;
    margin-bottom: 25px;
  }