.toggle-container {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.light {
    background-color: #3D405B;
  }

  &.dark {
    background-color: #3D405B;
  }
}

.toggle-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ff9f04;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.light .toggle-circle {

  transform: translateX(0);
}

.dark .toggle-circle {

  transform: translateX(25px);
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;

}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 480px) { 

  .toggle-container {
    width: 50px;
    height: 25px;
  }
  
  .toggle-circle {
    width: 25px;
    height: 20px;
  }

  .toggle-circle svg {
    font-size: 20px;
  }


}