
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: auto;
 
}
.main-container {
  display: flex;
}
.profile-container {
  max-width: 280px;
}

@media (max-width: 480px) {
  #root {
    margin: 0 10px;
  }  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    justify-content: center;
  }
}
